<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dong.KBO.dao.TeamRankMapper">
    <select id="selectAll" resultType="TeamRankDto" >
        SELECT bno, team_name, game_count, win_count, defeat_count, draw_count, winning_rate, game_difference
        FROM kbo_team_rank
        ORDER BY winning_rate DESC
    </select>

    <select id="select" parameterType="String" resultType="TeamRankDto">
        SELECT bno, team_name, game_count, win_count, defeat_count, draw_count, winning_rate, game_difference
        FROM kbo_team_rank
        WHERE team_name = #{team_name}
    </select>

    <update id="update" parameterType="TeamRankDto">
        UPDATE kbo_team_rank
        SET bno = #{bno},
            team_name = #{team_name},
            game_count = #{game_count},
            win_count = #{win_count},
            defeat_count = #{defeat_count},
            draw_count = #{draw_count},
            winning_rate = #{winning_rate},
            game_difference = #{game_difference}
        WHERE team_name = #{team_name}
    </update>

    <resultMap  type="com.dong.KBO.domain.TeamRankDto" id="kbo_team_rank">
        <result property="content" column="content"/>
    </resultMap>
</mapper>